@tailwind base;

@layer base {
    html {
        @apply text-black
    }
    html,
    body,
    #root {
        min-height: 100svh;
    }

    #root {
        display: flex;
        flex-direction: column;
    }

    @font-face {
        font-family: 'TT Supermolot Neue';
        src: url('/fonts/neue-xbd.woff2') format('woff2'),
        url('/fonts/neue-xbd.woff') format('woff'),
        url('/fonts/neue-xbd.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .fixed-center {
        @apply fixed top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2;
    }

    .absolute-center {
        @apply absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2;
    }

    .absolute-x-center {
        @apply absolute left-1/2 transform -translate-x-1/2;
    }

    .absolute-y-center {
        @apply absolute top-1/2 transform -translate-y-1/2;
    }

    .triangle {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    .animate-width {
        animation: expandWidthAnimation 2s ease-out;
    }

    @keyframes expandWidthAnimation {
        from {
            max-width: 0;
        }
        to {
            max-width: 100%;
        }
    }

    .transition-bg {
        transition: background-color 0.2s ease-in-out;
    }
}
